@mixin title($title-color, $title-fz, $title-lh){
    font-weight: 700;
    font-size: $title-fz;
    line-height: $title-lh;
    color: $title-color;
    text-transform: uppercase;
}


@mixin description($desc-color, $desc-fz, $desc-lh){
    font-size: $desc-fz;
    line-height: $desc-lh;
    color: $desc-color;
}
