@import '_reset';
@import '_fonts';
@import '_mixin';


// wrapper
.wrapper{
    max-width: 1170px;
    margin: auto;
}

// header start

.header{
    margin: auto;
    padding-top: 45px;

    &__navigation {
    display: flex;
    max-width: 880px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}
    &__link{
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: #4E4E4E;
    text-transform: uppercase;
    }

    &__link:hover{
        color: #57A4A4;
    }

    &__image{
        display: block;
        object-fit: cover;
        width: 100%;
        height: 550px;
    }
}


.hamburger{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    width: 44px;
    height: 38px;
    color: #fff;

    &-line{
        display: block;
        width: 17px;
        height: 2px;
        margin: 2px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    &-line:first-child{
        margin-top: 14px;
    }

    &.active &-line:nth-child(2) {
        opacity: 0;
    }

    &.active &-line:nth-child(1) {
        transform: rotate(45deg);
    }

    &.active &-line:nth-child(3) {
        transform: rotate(-45deg);
        margin: -8px auto;

    }

}

.hamburger-open{
    display: none;
}

@media (max-width: 768px){
    .wrapper{
        max-width: 768px;
        margin: auto;
    }

    .header{
        margin: auto;

        &__image{
        max-width: 768px;
        height: 100%;
        margin: auto;
    }

    &__navigation{
        max-width: 600px;
        margin: auto;
        margin-bottom: 43px;
    }
    }
}


@media (max-width: 320px){
    .wrapper{
        max-width: 320px;
        margin: auto;
    }

    .header{
        margin: auto;

        &__image{
            max-width: 768px;
            height: 100%;
            margin: auto;
        }

    &__navigation{
        flex-direction: column;
        position: absolute;
        background-color: #F5F5F5;
        top: 37px;
        margin: 0;
        right: -100%;
    }

    &__navigation.active{
        right: 1px;
    }

    &__navigation a{
        width: 182px;
        height: 32px;
        padding-left: 14px;
        padding-top: 4.5px;
    }
    

    &__navigation a:hover{
        background: #E5E5E5;
    }
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
}

// header end



// post section start

.posts{
    margin-top: 66px;
    margin-bottom: 69px;

    &__title{
        @include title(#4E4E4E, 16px, 22px);
        text-align: left;
        margin-bottom: 24px;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
    }
}


.cards{ 
    &-item{
        display: flex;
        width: 50%;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
    
    
    &-img{
        max-width: 160px;
        height: 140px;
    }

    &-title{
        @include title(#4E4E4E, 16px, 30px);

    }

    &-comments{
        @include description(#7C7C7C, 12px, 20px);
    }

    &-text{
        @include description(#5C5C5C, 14px, 26px);
        max-width: 404px;
        display: block;
    }


}


@media (max-width: 768px){
    .posts{
        margin-top: 56px;
        margin-bottom: 60px;
        &__cards{
            flex-direction: column;
        }    
    }

    .cards{
        &-item{
           display: flex;
           width: 82%;
           justify-content: space-around;
           align-items: start;
           margin-right: 0;
        }   
        
    }

    
}



@media (max-width: 320px){
    .posts{
        margin-top: 38px;
        margin-bottom: 77.5px;
        &__cards{
            flex-direction: column;
        }
        &__title{
            @include title(#4E4E4E, 14px, 22px);
        }
    }

    .cards{
        &-item{
           width: 100%;
           justify-content: start;
           align-items: start;
           margin-right: 0;
        }   
        

    &-title{
        @include title(#4E4E4E, 14px, 30px);

    }

    &-comments{
        @include description(#7C7C7C, 11px, 20px);
    }

    &-text{
        display: none;
    }
}
}
// end posts



// start section shots

.shots{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 40px;

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 0 24px 0;
    }

    &__title{
        @include title(#4E4E4E, 16px, 22px);
    }

    &__title-link>a{
        @include title(#4E4E4E, 13px, 22px);
    }
    &__img-gallery{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-item:last-child{
        display: block;
    }

    &-item-img{
        width: 285px;
        height: 285px;
    }

}


@media (max-width: 768px){
    .shots{
       
    &-item:last-child{
        display: none;
    }
    
        &-item-img{
            width: 249px;
            height: 249px;
        }
    } 
        
}


@media (max-width: 320px){
    .shots{
        padding-bottom: 32px;
        background-color: inherit;

        &__title{
            @include title(#4E4E4E, 14px, 22px);
            padding-left: 25px;
        }
    
        &__title-link{
            display: none;
        }
       
    &-item:nth-child(2),  &-item:nth-child(3),  &-item:nth-child(4){
        display: none;
    }
    
        &-item-img{
            width: 301px;
            height: 301px;
        }
    } 
        
}
// end section shots

// footer start
.footer{
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 66px 0 70px 0;
    margin: auto;

    &__title{
        @include title(#FEFEFE, 16px, 22px);
        padding-bottom: 22px;
    }

    &__text{
        @include description(#B9B9B9, 16px, 28px);
        max-width: 684px;
        margin: auto;
        padding-bottom: 32px;
    }

    &__logo{
        display: flex;
        justify-content: center;
        padding-bottom: 34px;
        align-items: center;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 613px;
        margin: auto;
        @include description(#B9B9B9, 16px, 26px);
    }
}


.logo-item{
    // border: 2px solid black;
    border-radius: 100%;
    padding: 10px 11px;
    margin: 6px;
}

.logo-rss{
    border: 2px solid #F8902E;
    color: #F8902E;
    font-size: 16px;
}


.logo-facebook{
    border: 2px solid #39599F;
    color: #39599F;
}
.logo-twitter{
    border: 2px solid #45B0E3;
    color: #45B0E3;
}

.logo-dribbble{
    border: 2px solid #D97AB0;
    color: #D97AB0;
}

.logo-pinterest{
    border: 2px solid #CC212C;
    color: #CC212C;
}

.logo-item > img{
    max-width: 10px;
    height: 10px;
}

@media (max-width: 768px){
    .footer{
        padding: 56px 0;
        &__contacts{
            width: 235px;
            flex-wrap: wrap;
        }
    } 

        
}

// footer end